---
layout: default
---

<p><b>Wir begrüßen alle Besucher unserer Homepage!</b></p>

<p><img src="{{ site.baseurl }}/images/2025-12-21_KGV-Weihnachtsgruß.jpg" alt="KGV-Weihnachtsgruß_2025" style="width:80%;" /></p>

<p>Hier finden unsere Mitglieder und alle interessierten Gartenfreunde Informationen über den Verein und die aktuellen Aktivitäten.</p>


<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">
            {{ post.date | date: "%-d." }}
            {% assign m = post.date | date: "%-m" %}{% case m %}
        {% when '1' %}Januar
        {% when '2' %}Februar
        {% when '3' %}März
        {% when '4' %}April
        {% when '5' %}Mai
        {% when '6' %}Juni
        {% when '7' %}Juli
        {% when '8' %}August
        {% when '9' %}September
        {% when '10' %}Oktober
        {% when '11' %}November
        {% when '12' %}Dezember
              {% endcase %}
            {{ post.date | date: "%Y" }}
          </p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Weiterlesen</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>


<hr />
 
<p>Liebe Gartenfreundinnen und Gartenfreunde,</p>

<p>bitte beachtet die aktuellen Ruhezeiten:</p>

<p>(für die Sommer-Saison vom 1. April bis 30. September)</p>

<table>
    <tr>
        <td>Montags - Freitags:</td>
        <td>zwischen 13:00 Uhr und 15:00 Uhr</td>
        <td>und ab 19:00 Uhr</td>
    </tr>
    <tr>
        <td>Samstags:</td>
        <td>zwischen 13:00 Uhr und 15:00 Uhr</td>
        <td>und ab 17:00 Uhr</td>
    </tr>
    <tr>
        <td>an Sonn- und Feiertagen:</td>
        <td>Ganztägig</td>
    </tr>
</table> 

<hr />
