
<form action="https://forms.un-static.com/forms/f65bc79c006e1317f847a78414bb39548a897a89" method="POST">

    <label>
        Ihre Name:
        <input type="text" name="name" placeholder="Name" required>
    </label>
    <br>

    <label>
        Ihre eMail-Adresse:
        <input type="email" name="email" placeholder="eMail Adresse" required>
    </label>
    <br>
    
    <label>
        Ihre Nachricht:
        <textarea name="message" cols="60" rows="10"></textarea>
    </label>
    <br>
    
    <button type="submit">Senden</button>
    <br>
    
</form>

<div class="supporting">
    <p><i>(Powered by <a rel="nofollow" href="Un-static Forms">Un-static Forms</a>)</i></p>
</div>
